workspace_path: C:\path\to\share\directory
bash_aliases_path: C:\path\to\.bash_aliases
ssh:
  keys:
    directory: C:\path\to\keys\directory
    private:
    - id_rsa
    public:
    - id_rsa.pub
    pem:
    - name.pem
  config: C:\path\to\config
git:
  email: local-part@domain.tld
  name: First Last
